@media screen and (min-width: 0px){
   *
   {
    margin: 0;
   }
   #header
   {
     width: 100%;
     height: 240px;
     background-color: dodgerblue;
   }
   #logo
   {
    width: 100%;
    opacity: .5;
    display: inline-block;
   }
   #header_ul
   {
    display: inline-block;
   }
    .header_li
    {
        display: inline-block;
        font-size: 16pt;
        color: white;
        margin: 5px;
        margin-bottom: 0;
    
    }
    #address_ul
    {
       /* display: inline-block;
        vertical-align: top;*/
        /*margin-top: 1%;*/
    }
    .address_li
    {
        display: block;
        color: white;
    }
    #phone_div
    {
        color: white;
        margin-top: 10px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 481px){
   *
   {
    margin: 0;
   }
   #header
   {
     width: 100%;
     height: 205px;
     background-color: dodgerblue;
   } 
   #logo
   {
    width: 500px;
    opacity: .5;
   }
   #header_ul
   {
    display: inline-block;
    width: 400px;
    visibility: visible;
    vertical-align: top;
    margin-top: 80px;
   
   }
    .header_li
    {
        display: inline;
        font-size: 20pt;
        color: white;
        margin: 1%;
    }
    #address_ul
    {
        display: inline-block;
        vertical-align: top;
        margin-top: 1%;
    }
    .address_li
    {
        display: block;
        color: white;
    }
    }

@media screen and (min-width: 1024px){
   *
   {
    margin: 0;
   }
   #header
   {
     width: 100%;
     height: 205px;
     background-color: dodgerblue;
   }
   #logo
   {
    display: inline;
    width: 500px;
    opacity: .5;
   }
   #header_ul
   {
    display: inline-block;
    width: 500px;
    visibility: visible;
    vertical-align: top;
    margin-top: 80px;
   
   }
    .header_li
    {
        display: inline;
        font-size: 24pt;
        color: white;
        margin: 10px;
       
    }
    #address_ul
    {
        display: inline;
       
    }
    .address_li
    {
       
        color: white;
    }
    #phone_div
    {
       display: inline-block;
       font-size: 14pt;
       vertical-align: top;
       margin-top: 25px;
       margin-left: 10px;
    }
    #email
    {
        color: white;
    }
    
    #phone
    {
        color: white;      
    }
    #main_picture
    {
        width: 100%;
    }
}