<div id="header_info">
			<ul id="header_ul">
				<li class="header_li"><img id="phone_img" src="img/phone.png"></li>
				<li class="header_li">206-420-6969</li>
				<!-- <li class="header_li" id="lic_num">Lic # 5271977</li> -->
				<li class="header_li"><img id="email_img" src="img/email.png"></li>
				<li class="header_li">admiralconstruction@gmail.com</li>
			</ul>
			<ul id="mobile_header_ul">
				<li class="mobile_header_li"><img id="mobile_phone_img" src="img/phone.png"></li>
				<li class="mobile_header_li">206-420-6969</li>
				<li class="mobile_header_li"><img id="mobile_email_img" src="img/email.png"></li>
				<li class="mobile_header_li">admiralconstruction@gmail.com</li>
			</ul>	
		</div>