
				<!-- <img id="phone_img" src="img/phone.png"> -->
				<p class="header_li2">phone: 206-420-6969</p>
				<!-- <li class="header_li" id="lic_num">Lic # 5271977</li> -->
				<br><br>
				<!-- <img id="email_img" src="img/email.png"> -->
				<p class="header_li2">email: admiralconstruction@gmail.com</p>
			
			<ul id="mobile_header_ul">
				<li class="mobile_header_li"><img id="mobile_phone_img" src="img/phone.png"></li>
				<li class="mobile_header_li">206-420-6969</li>
				<li class="mobile_header_li"><img id="mobile_email_img" src="img/email.png"></li>
				<li class="mobile_header_li">admiralconstruction@gmail.com</li>
			</ul>	
	