
	
	<h1 id="welcome_h1">Welcome</h1>
	<div id="slideshow">
		<img id="main_slide" src="img/slide1.JPG">
		<img id="mobile_slide" src="img/slide1_mobile.jpeg">
	</div>
	<div id="right_divs">
		<div id="latest_project_div">
			<img id="latest_project_img" src="img/latest1.JPG">
		</div>
			<h3 id="right_divs_h3"><i>Latest Projects</i></h3>
		<div id="get_bid_div">
			<img id="latest_project_img" src="img/bid1.JPG">
		</div>
			<h3 id="right_divs_h3"><i>Request A Bid</i></h3>
	</div>
	<div id="statement_div">
		
	</div>
	<p id="statement_p">I can't stay much longer, Melinda, The sun is getting high. I can't help you with your troubles, If you won't help with mine. I gotta get down, I gotta get down, I gotta get down to the mine. You keep me up just one more night, I can't sleep here no more. Little Ben clock says quarter to eight; You kept me up 'till four. I gotta get down, I gotta get down, Or I can't work there no more. A lotta poor man make a five dollar bill, Keep him happy all the time.</p>

		<h1 id="welcome_h1_2">Latest Projects</h1>
		<img id="mobile_slide2" src="img/latest1.JPG">
		<h1 id="welcome_h1_2">Request a Bid</h1>
		<img id="mobile_slide2" src="img/bid1.JPG">
	
	

	<div id="bottom_strip">
		<h3 id="bottom_strip_h3">Admiral Construction ---- Licence # 5271977</h3>
	</div>
	

	

