
	<div id="header">
		<h2 id="title_h2">ADMIRAL CONSTRUCTION</h2>
		
		<div id="header_info">
			<ul id="header_ul">
				<li class="header_li"><img id="phone_img" src="img/phone.png"></li>
				<li class="header_li">206-420-6969</li>
				<!-- <li class="header_li" id="lic_num">Lic # 5271977</li> -->
				<li class="header_li"><img id="email_img" src="img/email.png"></li>
				<li class="header_li">admiralconstruction@gmail.com</li>
			</ul>
			<ul id="mobile_header_ul">
				<li class="mobile_header_li"><img id="mobile_phone_img" src="img/phone.png"></li>
				<li class="mobile_header_li">206-420-6969</li>
				<li class="mobile_header_li"><img id="mobile_email_img" src="img/email.png"></li>
				<li class="mobile_header_li">admiralconstruction@gmail.com</li>
			</ul>	
		</div>
	</div>

	<ul id="menu_bar">
		<li id="first_menu" class="menu_li"><div class="menu_box">Home</div></li>
		<li class="menu_li"><div class="menu_box">About</div></li>
		<li class="menu_li"><div class="menu_box">Services</div></li>
		<li class="menu_li"><div class="menu_box">Gallery</div></li>
		<li class="menu_li"><div class="menu_box">Process</div></li>
		<li class="menu_li"><div class="menu_box">Testimonials</div></li>
		<li id="last_menu" class="menu_li"><div class="menu_box">Contact</div></li>
		
	</ul>
	<div id="menu_stack">
		<img src="img/menu_stack.png">
	</div>
	<h1 id="welcome_h1">Welcome</h1>
	<div id="slideshow">
		<img id="main_slide" src="img/slide1.JPG">
		<img id="mobile_slide" src="img/slide1_mobile.jpeg">
	</div>
	<div id="right_divs">
		<div id="latest_project_div">
			<img id="latest_project_img" src="img/latest1.JPG">
		</div>
			<h3 id="right_divs_h3">Latest Projects</h3>
		<div id="get_bid_div">
			<img id="latest_project_img" src="img/bid1.JPG">
		</div>
			<h3 id="right_divs_h3">Request A Bid</h3>
	</div>
	

	

