
	<div class="mobile_menu_div" id="first_mobile_menu">
		<a href="#/"><p class="menu_box_p">Home</p></a>
	</div>
	<div class="mobile_menu_div">
		<p class="mobile_menu_p">Admiral</p>
	</div>
	<div class="mobile_menu_div">
		<p class="mobile_menu_p">Services</p>
	</div>
	<div class="mobile_menu_div">
		<p class="mobile_menu_p">Photos</p>
	</div>
	<div class="mobile_menu_div">
		<p class="mobile_menu_p">Process</p>
	</div>
	<div class="mobile_menu_div">
		<p class="mobile_menu_p">Reviews</p>
	</div>
	<div class="mobile_menu_div">
		<p class="mobile_menu_p">Contact</p>
	</div>

	<div id="bottom_strip">
		<h3 id="bottom_strip_h3">Admiral Construction ---- Licence # 5271977</h3>
	</div>