
	<div class="menu_box" id="first_menu_box">
		<a href="#/"><p class="menu_box_p">Home</p></a>
	</div>
	<div class="menu_box">
		<p class="menu_box_p">Admiral</p>
	</div>
	<div class="menu_box">
		<p class="menu_box_p">Services</p>
	</div>
	<div class="menu_box">
		<p class="menu_box_p">Photos</p>
	</div>
	<div class="menu_box">
		<p class="menu_box_p">Process</p>
	</div>
	<div class="menu_box">
		<p class="menu_box_p">Reviews</p>
	</div>
	<div class="menu_box">
		<p class="menu_box_p">Contact</p>
	</div>

	<div id="bottom_strip">
		<h3 id="bottom_strip_h3">Admiral Construction ---- Licence # 5271977</h3>
	</div>